@import '~bootstrap/scss/bootstrap';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fbf0ea;
}

#rss-header {
  color: #062a51;
}

#example {
  padding-top: 1%;
  color: #49535d;
}

#error-message {
  color: #725650;
}

input[id="url-input"] {
  border: 2px solid #09023d;
  border-radius: 4px;
}

input[id="url-input"].invalid {
  border-color: red;
}

button[type="submit"] {
  padding-left: 20%;
  padding-right: 20%;
  background-color: #032142;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

button[type="submit"]:hover {
  background-color: #062a51;
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
}

button[type="submit"]:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #062a51;
}

button[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: #ccc;
  transition: none;
  box-shadow: none;
  transform: none;
}

button[type="submit"]:disabled:hover {
  transform: none;
  box-shadow: none;
  transition: none;
}

#form-container {
  background: linear-gradient(135deg, #FFDAB9, #BC8F8F);
  border-bottom: solid #032142;
}

.feed-list-title {
  text-align: center;
}

.entries-list-title {
  text-align: center;
}

.entry-container {
  display: flex;
  margin: 2%;
  justify-content: space-between;
  align-items: center;
  flex: 1; 
}


.entry-title {
  font-size:larger;
  line-height: 1.5;
}

.read-more-button {
  background-color: #032142;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: #062a51;
  transform: scale(1.05);
}

a {
  color: #725650;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #e74c3c;
}

a:visited {
  color: #9b59b6;
}

.link-container {
  margin: 3%;
  padding: 4%;
  background-color: #032142;
  font-size: small;
  color: #fff;
  border: none;
  text-align: justify;
  border-radius: 4%;
}

.link-container .title {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 2%;
}



