@import "~bootstrap/scss/bootstrap";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(243, 240, 237);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #09023d;
  border-radius: 4px;
}

input[type="text"].invalid {
  border-color: red;
}

button[type="submit"] {
  margin: 30px;
  padding: 10px;
  background-color: #032142;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

button[type="submit"]:hover {
  background-color: #062a51;
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
}

button[type="submit"]:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: #ccc;
  transition: none;
  box-shadow: none;
  transform: none;
}

button:disabled:hover {
  transform: none;
  box-shadow: none;
  transition: none;
}

.right-conntainer {
  float: right;
  width: 200px; 
}

.link-container {
  background: linear-gradient(to bottom, #003366, #000044);
  color: #ffffff;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
  font-size: 12px;
  text-align: justify;
}

.link-container:hover {
  background: linear-gradient(to bottom, #637b93, #050544);
  color: #fff;
  border-radius: 10px;
  border-color: black;
  animation: myAnimation 0.5s;
}

.link-container .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feed-list {
  position: fixed;
  top: 25%;
  right: 0;
  width: 300px;
}

.feed-list-title {
  font-size: 20;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
}

@keyframes myAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.04); }
  100% { transform: scale(1); }
}
